{{ define "sidebar" }}
  <h3>Sidebar</h3>
  <ul>
    <li><a style="color: white;" href="/cats">Index</a></li>
    <li><a style="color: white;" href="/cats/feed?key=topsecret">Feed w/ key</a></li>
    <li><a style="color: white;" href="/cats/feed">Feed w/out key</a></li>
  </ul>
{{ end }}
