{{define "other_layout"}}
<html>
  <head>
      {{template "title"}}
  </head>
  <body>
      {{template "content"}}
    <footer>
      {{template "footer"}}
    </footer>
  </body>
</html>
{{end}}

{{define "sidebar"}}{{end}}
